<header>
  <nav class="bg-primary px-4 lg:px-6 py-2.5 select-none">
    <div
      class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl"
    >
      <logo></logo>
      <nav-container>
        <nav-item routerLink="home">Home</nav-item>
        <nav-item routerLink="company">Company</nav-item>
        <nav-item routerLink="marketPlace">MarketPlace</nav-item>
        <nav-item routerLink="features">Features</nav-item>
        <nav-item routerLink="team">Team</nav-item>
      </nav-container>
      <div class="flex items-center lg">
        <button-default> Log in </button-default>
      </div>
    </div>
  </nav>
</header>
