<div
  id="modal"
  class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
  [hidden]="!modal.isModalOpen(modalID)"
>
  <div class="relative bg-white rounded-lg shadow bg-red">
    <!-- Modal header -->
    <div
      class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
    >
      <h3 class="text-xl font-semibold text-primary">Sign in</h3>
      <modal-close-button></modal-close-button>
    </div>
    <ng-content></ng-content>
  </div>
</div>
